<!-- pour faire le routig vers les autres pages voir les routes dans app-routing.module.ts -->
<router-outlet></router-outlet>
<!-- <app-search-box></app-search-box>
<app-hits></app-hits> -->

<!-- Page Features -->
<!-- <div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4" *ngFor="let hit of state.hits">
    <div class="card">
      <img class="card-img-top" src="{{hit.src}}" alt="" data-src={{hit.image}}>
      <div class="card-body">
        <h4 class="card-title">{{hit.prix}}</h4>
        <p class="card-text">{{hit.addresse}}</p>
      </div>
      <div class="card-footer">
        <a href="{{hit.link}}" class="btn btn-primary">Voir l'annonce</a>
      </div>
    </div>
  </div>

</div> -->
