<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pratik Immobilier </title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../assets/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container black" style="background-color : black;">
        <a class="navbar-brand" href="#">Pratik</a>
        <div class="black">
          <img class="img-responsive" src="http://pratik.ci/sites/default/files/logo_pratik_ok.png" alt="image logo pratik">
        </div>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <!-- <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
            <img class="black img-responsive" src="http://pratik.ci/sites/default/files/logo_pratik_ok.png" alt="image logo pratik">
          </div> -->
          <div class="col-md-12 col-lg-12 col-xl-16 mx-auto">
            <form>
              <div class="form-row row">
                <div class="col-12 col-md-9 mb-2 mb-md-2">
                  <!-- <input height="50" type="text" class="form-control form-control-lg" placeholder="ville quartier prix description..."> -->
                  <app-search-box></app-search-box>

                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Inutile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <app-hits></app-hits>

    <!-- <div class="mx-auto" style="width: 200px;">
      <app-search-box></app-search-box>
    </div>
    <app-hits></app-hits> -->
    <div id="search-box">
      <!-- SearchBox widget will appear here -->
    </div>
    <div id="stats">
      <!-- stats widget will appear here -->
    </div>
    <div id="hits">
      <!-- Hits widget will appear here -->
    </div>
    <div id="pagination">
      <!-- pagination widget will appear here -->
    </div>



    <!-- Testimonials -->
    <!-- <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../assets/img/testimonials-1.jpg" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../assets/img/testimonials-2.jpg" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="../assets/img/testimonials-3.jpg" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Call to Action -->
    <!-- <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" class="form-control form-control-lg" placeholder="ville quartier prix description ...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->
    <div  class="dexp-section black" id="section-bottom">
    	<div class="container">
    		<div class="row">
    			<!-- .region-bottom-first-->
      <div class="region region-bottom-first col-xs-12 col-sm-12 col-md-3 col-lg-3">

    <div id="block-block-150" class="block block-block">
      <div class="inner"></div>

      <div  class="content">
        <h4><span style="color:#ffffff;">LIENS UTILES</span></h4>
    <p><a href="http://www.pratik.ci"><span style="color:#ffd700;">ACCUEIL</span></a></p>
    <p><a href="/a-propos-de-pratik"><span style="color:#ffd700;">QUI SOMMES-NOUS</span></a></p>
    <p><a href="/contact"><span style="color:#ffd700;">CONTACTS</span></a></p>
      </div>
    </div>
      </div>
    <!-- END .region-bottom-first-->
    <!-- .region-bottom-second-->
      <div class="region region-bottom-second col-xs-12 col-sm-6 col-md-3 col-lg-3">

    <div id="block-block-151" class="block block-block">
      <div class="inner"></div>

      <div  class="content">
        <h4><span style="color:#ffffff;">INFOS PRATIK</span></h4>
    <p><a href="/pharmacies-de-garde"><span style="color:#ffd700;">PHARMACIES DE GARDE</span></a></p>
    <p><a href="/thematiques/administration"><span style="color:#ffd700;"><span style="color:#ffd700;">ADMINISTRATION EN CI</span></span></a></p>
    <p><a href="/numeros-utiles"><span style="color:#ffd700;"><span style="color:#ffd700;">NUMEROS UTILES</span></span></a></p>
      </div>
    </div>
      </div>
    <!-- END .region-bottom-second-->
    <!-- .region-bottom-third-->
      <div class="region region-bottom-third col-xs-12 col-sm-6 col-md-3 col-lg-3">

    <div id="block-block-152" class="block block-block">
      <div class="inner"></div>

      <div  class="content">
        <h4><span style="color:#ffffff;">BONS PLANS PRATIK</span></h4>
    <p><a href="/bonplan/pro/immobilier"><span style="color:#ffd700;">IMMOBILIERS</span></a></p>
    <p><a href="/bonplan/pro/automoto"><span style="color:#ffd700;"><span style="color:#ffd700;">AUTOS / MOTOS</span></span></a></p>
    <p><a href="/bonplan/pro/loisirs"><span style="color: rgb(255, 215, 0); font-size: 13.008px;">LOISIRS</span></a></p>
      </div>
    </div>
      </div>
    <!-- END .region-bottom-third-->
    <!-- .region-bottom-fourth-->
      <div class="region region-bottom-fourth col-xs-12 col-sm-6 col-md-3 col-lg-3">

    <div id="block-block-153" class="block block-block">
      <div class="inner"></div>

      <!-- <div  class="content">
        <h4><span style="color:#ffffff;">NEWSLETTER</span></h4>
      </div> -->
    </div>

    <div id="block-block-185" class="block block-block">
      <div class="inner"></div>

      <div  class="content black">
        <p ><a href="http://pratik.ci"><img alt="" src="http://pratik.ci/sites/default/files/default_images/logo_pratik.png" width="144" height="46" /></a></p>
      </div>
    </div>
      </div>
    <!-- END .region-bottom-fourth-->
    		</div>
    	</div>
    </div>



    <!-- <script type="text/javascript" src="http://pratik.ci/sites/default/files/js/js_uAFIhEfcxEJBTLJnzWKUvr37axeyyUGMRsFVl4E3_2I.js"></script>
    <script type="text/javascript" src="http://pratik.ci/sites/default/files/js_injector/js_injector_2.js?oz40gn"></script>
    <script type="text/javascript" src="http://pratik.ci/sites/default/files/js_injector/js_injector_3.js?oz40gn"></script>
    <script type="text/javascript" src="http://pratik.ci/sites/default/files/js_injector/js_injector_5.js?oz40gn"></script>
                    <div id="go-to-top"><i class="fa fa-angle-up"></i></div>

                    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.7&appId=592737437564229";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> -->

  </body>

</html>
